version: '3'

services:
    reverse-proxy:
        image: traefik:v2.10
        command: --api.insecure=true --providers.docker --entryPoints.web.address=:80 --entryPoints.websecure.address=:443
        ports:
            - '80:80'
            - '443:443'
            - '9999:8080'
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - proxy
        restart: always

networks:
    proxy:
        external: true